@import '~@gisatcz/ptr-core/lib/styles/_variables';
@import '~@gisatcz/ptr-charts/dist/style';
@import '~@gisatcz/ptr-core/dist/style';
@import './variables';

.ptr-light {

	--accent0: #{$lightAccent0};
	--accent0rgb: #{$lightAccent0rgb};
	--accent05: #{$lightAccent05};
	--accent10: #{$lightAccent10};
	--accent15: #{$lightAccent15};
	--accent20: #{$lightAccent20};
	--accent25: #{$lightAccent25};
	--accent30: #{$lightAccent30};
	--accent35: #{$lightAccent35};
	--accent40: #{$lightAccent40};
	--accent45: #{$lightAccent45};
	--accent50: #{$lightAccent50};
	--accent50rgb: #{$lightAccent50rgb};
	--accent55: #{$lightAccent55};
	--accent60: #{$lightAccent60};
	--accent65: #{$lightAccent65};
	--accent70: #{$lightAccent70};
	--accent75: #{$lightAccent75};
	--accent80: #{$lightAccent80};
	--accent85: #{$lightAccent85};
	--accent90: #{$lightAccent90};
	--accent95: #{$lightAccent95};
	--accent100: #{$lightAccent100};
	--accent100rgb: #{$lightAccent100rgb};
}

.ptr-dark {

	--accent0: #{$darkAccent0};
	--accent0rgb: #{$darkAccent0rgb};
	--accent05: #{$darkAccent05};
	--accent10: #{$darkAccent10};
	--accent15: #{$darkAccent15};
	--accent20: #{$darkAccent20};
	--accent25: #{$darkAccent25};
	--accent30: #{$darkAccent30};
	--accent35: #{$darkAccent35};
	--accent40: #{$darkAccent40};
	--accent45: #{$darkAccent45};
	--accent50: #{$darkAccent50};
	--accent50rgb: #{$darkAccent50rgb};
	--accent55: #{$darkAccent55};
	--accent60: #{$darkAccent60};
	--accent65: #{$darkAccent65};
	--accent70: #{$darkAccent70};
	--accent75: #{$darkAccent75};
	--accent80: #{$darkAccent80};
	--accent85: #{$darkAccent85};
	--accent90: #{$darkAccent90};
	--accent95: #{$darkAccent95};
	--accent100: #{$darkAccent100};
	--accent100rgb: #{$darkAccent100rgb};
}

.ptr-light,
.ptr-dark {
	min-height: 100%;
	width: 100%;
	background: var(--base15);
	top: 0;
}

.crnvrs-table {
	width: 100%;
}

.crnvrs-table tr {
	border-bottom: 1px solid var(--base15);
	width: 100%;
}

.crnvrs-table tr:not(:first-child):hover {
	background: var(--base10);
}

.crnvrs-table th {
	height: 2rem;
	text-align: left;
	font-size: $b1;
	color: var(--base50);
	vertical-align: middle;
}

.crnvrs-table th.sortable {
	cursor: pointer;
}

.crnvrs-table th.active {
	font-weight: bold;
	color: var(--base85);
}

.crnvrs-table td {
	height: 2rem;
	color: var(--base85);
	vertical-align: middle;
	font-size: $b1;
	min-width: 4rem;
}

.crnvrs-table td.red {
	color: #cc0000
}

.crnvrs-table .crnvrs-table-column-right {
	text-align: right;
}

// Overview card
.crnvrs-overview {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.crnvrs-overview-title {
	font-size: $b3;
	line-height: $a3;
	color: var(--base85);
}

.crnvrs-overview-subtitle {
	font-size: $b1;
	color: var(--base85);
}

.crnvrs-overview-subtitle em {
	font-weight: bold;
}

// Copy
.crnvrs-data-source {
	padding: 0 m(4/3);
	width: 100%;
	font-size: $b1;
	color: var(--base50);
}