@import '~@gisatcz/ptr-core/lib/styles/_variables';

.crnvrs-card {
  background: var(--base0);
  margin: m(1);
  padding: m(2/3);
  border-radius: .5rem;
  max-width: 70rem;
  width: 100%;
}

.crnvrs-card h3 {
  margin: 0 0 .15rem;
}

.crnvrs-card h4 {
  margin: 0;
  font-weight: normal;
  color: var(--base70);
}

.crnvrs-card-content {
  padding-top: m(2/3);
}