@import '~@gisatcz/ptr-core/lib/styles/_variables';

// card grid
.crnvrs-card-grid {
  padding: 1rem 0;
}

// card row
.crnvrs-card-row {
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem;
  padding: 0 1rem;
}

// card group
.crnvrs-card-group {
  display: flex;
  max-width: 50rem;
  width: calc(50% - 1rem);
}

.crnvrs-card-group.vertical {
  flex-direction: column;
}

.crnvrs-card-group .crnvrs-card-group.vertical {
  width: 50%;
}

.crnvrs-card-group .crnvrs-card-group.vertical:not(:last-child) {
  margin-right: 1rem;
}

.crnvrs-card-row > .crnvrs-card-group:not(:last-child) {
  margin-right: 1rem;
}

  // card
.crnvrs-card {
  background: var(--base0);
  border-radius: .5rem;
  min-width: 20rem;
  max-width: 25rem;
  height: 10rem;
  margin-right: 1rem;
}

.crnvrs-card-group.vertical .crnvrs-card,
.crnvrs-card-group .crnvrs-card:last-child,
.crnvrs-card-group .crnvrs-card.width-2 {
  margin-right: 0;
}

.crnvrs-card-group.vertical .crnvrs-card:not(:last-child) {
  margin-bottom: 1rem;
}

.crnvrs-card.width-2 {
  min-width: 41rem;
  max-width: 50rem;
}

.crnvrs-card.height-2 {
  height: 21rem;
}

.crnvrs-card.height-3 {
  height: 32rem;
}

.crnvrs-card-group .crnvrs-card {
  width: calc(50% - .5rem);
}

.crnvrs-card-group.vertical .crnvrs-card,
.crnvrs-card-group .crnvrs-card.width-2 {
  width: 100%;
}


// Header
.crnvrs-card-header {
  border-bottom: 1px solid var(--base15);
  display: flex;
  height: 3rem;
}

.crnvrs-card-title {
  font-weight: bold;
  font-size: .875rem;
  flex-grow: 1;
  color: var(--base85);
  padding: .95rem 0 0 m(2/3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.crnvrs-card-title span {
  padding-left: .35rem;
  color: var(--base60);
  font-size: $b1;
}

.crnvrs-card-switch {
  display: flex;
  align-items: flex-end;
}

.crnvrs-card-switch-option {
  border-bottom: 2px solid transparent;
  margin: 0 m(2/3);
  padding: .65rem 0;
  font-size: $b1;
  font-weight: bold;
  color: var(--base45);
  cursor: pointer;
}
.crnvrs-card-switch-option:last-child {
  margin-left: 0;
}


.crnvrs-card-switch-option.active {
  color: var(--base85);
  border-bottom: 2px solid var(--base85);
}

.crnvrs-card-switch-option.disabled {
  color: var(--base30);
  pointer-events: none;
}



// Contnent
.crnvrs-card-content {
  padding: m(1/3) m(2/3) m(2/3);
  overflow: auto;
  max-height: calc(100% - 3rem);
  height: 100%;
}

// charts
.crnvrs-card-content .ptr-select-container {
  width: 100%;
  max-width: 40rem;
  margin-bottom: m(1);
}

.crnvrs-card-content .ptr-select__multi-value {
  background-color: var(--base15);
}

.crnvrs-card-content .ptr-select__control {
  border: 0;
  background: var(--base15);
  min-height: 2rem;
}

.crnvrs-card-content .ptr-select__value-container {
  padding: 0 .15rem;
}

.crnvrs-card-content .ptr-select__value-container .label {
  color: var(--base70);
}

.crnvrs-card-content .ptr-select__value-container .ptr-select__multi-value__remove path {
  fill: var(--base50);
}

@media only screen and (max-width: 84.99rem) {
  .crnvrs-card-group {
    width: 100%;
  }

  .crnvrs-card-row {
    flex-direction: column;
    align-items: center;
  }

  .crnvrs-card-group {
    margin-bottom: 1rem;
  }

  .crnvrs-card-row > .crnvrs-card-group:not(:last-child) {
    margin-right: 0;
  }

  .crnvrs-card-row .crnvrs-card-group .crnvrs-card-group,
  .crnvrs-card-row .crnvrs-card-group:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 43rem) {
  .crnvrs-card-row {
    margin-bottom: 0;
  }

  .crnvrs-card-group .crnvrs-card-group.vertical:not(:last-child) {
    margin-right: 0;
  }

  .crnvrs-card-group,
  .crnvrs-card-group .crnvrs-card-group.vertical {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    align-items: center;
  }

  .crnvrs-card {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .crnvrs-card-group .crnvrs-card,
  .crnvrs-card-group.vertical .crnvrs-card,
  .crnvrs-card-group .crnvrs-card.width-2 {
    min-width: auto;
    width: calc(100%);
  }

  .crnvrs-card-header {
    height: auto;
    min-height: 3rem;
  }
}